.example-container {
    height:60vh;
    overflow: auto;
  }
  
  table {
    width: 100%;
    box-shadow: unset !important;
  }

  .example-tree-invisible {
    display: none;
  }


  .node{
    cursor: pointer;
  }
  .node:hover{
    background: whitesmoke;
  }

  mat-tree-node{
    width: 100%;
    cursor: pointer;
  }

  mat-tree-node:hover{
    background: whitesmoke;
  }